@model EnvatoMarketplace.ViewModel.MarketplaceVM

@{
    ViewBag.Title = "Marketplace";
    Layout = "~/Views/Home/_Landing_Layout.cshtml";
}

@*<h2>Marketplace</h2>*@

@*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availableQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.catName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.pid }) |
                @Html.ActionLink("Details", "Details", new { id = item.pid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.pid })
            </td>
        </tr>
    }*@


@*
    <div class="flex flex-row gap-4 mt-10 p-4 px-36">
        <div>
            <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">Profile</li>
                <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600">Settings</li>
                <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600">Messages</li>
                <li class="w-full px-4 py-2 rounded-b-lg">Download</li>
            </ul>
            @foreach (var category in ViewBag.Categories)
            {
                <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600">@category.catName</li>
            }
        </div>


        <div class="grid grid-cols-3 gap-5">
            @foreach (var item in Model)
            {
                <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="p-8 rounded-t-lg" src="@Url.Content(item.productPic)" alt="@item.name" />
                    </a>
                    <div class="px-5 pb-5">
                        <a href="#">
                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">@item.name</h5>
                        </a>
                        <div class="flex items-center mt-2.5 mb-5">
                            <div class="flex items-center space-x-1 rtl:space-x-reverse">
                                @for (int i = 0; i < ((int?)item.rating ?? 0); i++)
                                {
                                    <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                }

                                @for (int j = 0; j < 5 - ((int?)item.rating ?? 0); j++)
                                {
                                    <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                    </svg>
                                }

                            </div>
                            <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">@(item.rating ?? 0)</span>
                        </div>
                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$@((int)item.amount)</span>
                            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
*@

@*<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="hidden sm:hidden inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button>*@

<aside id="sidebar-multi-level-sidebar" class=" fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-white-50 dark:bg-gray-900 pt-20 pl-5">
        <h6 class="text-lg">Categories</h6>
        <hr class="my-2" />
        <ul class="space-y-2 font-medium">
            @foreach (var category in Model.Categories.Where(category => category.pcatid == null))
            {
                <li>
                    <a href="/Home/Marketplace/@category.catid" class="flex items-center p-2 text-gray-900 border-b-4 border-gray-500 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="ms-3">@(category.catName)</span>
                    </a>
                    <ul class="space-y-1 mt-1 pl-2 font-light">
                        @foreach (var subCategory in category.Categories)
                        {
                            <li>
                                <a href="/Home/Marketplace/@category.catid" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <span class="ms-3">@(subCategory.catName)</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
</div>
</aside>

<div class="p-4 sm:ml-64">
    @if (Model.Products.Count() == 0)
    {
        <section class="flex items-center h-[500px] w-full p-16">
            <div class="container flex flex-col items-center ">
                <div class="flex flex-col gap-6 max-w-md text-center">
                    <h2 class="font-extrabold text-5xl text-gray-600">
                        <span class="sr-only">Error</span>Not found
                    </h2>
                    <p class="text-2xl md:text-3xl dark:text-gray-400">Sorry, we couldn't find any product with this category</p>
                    <a href="/Home/Marketplace" class="px-8 py-4 text-xl font-semibold rounded bg-purple-600 text-gray-50 hover:text-gray-200">See all products</a>
                </div>
            </div>
        </section>
    }
    else
    {
<div class="grid items-center justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    @Html.ValidationSummary(true, "", new { @class = "text-red-600" })

    @foreach (var item in Model.Products)
    {

        //Skip those product whose availableQty is 0 and not null
        if (item.availableQty != null)
        {
            if (item.availableQty == 0)
            {
                continue;
            }
        }
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

            <a href="/Product/Index/@item.pid">
                <img class="p-8 rounded-t-lg" src="@Url.Content(item.productPic)" alt="@item.name" />
            </a>
            <div class="px-5 pb-5">
                <a href="/Product/Index/@item.pid">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">@item.name</h5>
                    <h7 class="py-2 text-md font-normal tracking-tight text-gray-900 dark:text-white">@item.shortDesc</h7>
                </a>
                <div class="flex items-center mt-2.5 mb-5">
                    <div class="flex items-center space-x-1 rtl:space-x-reverse">
                        @for (int i = 0; i < ((int?)item.rating ?? 0); i++)
                        {
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>
                        }

                        @for (int j = 0; j < 5 - ((int?)item.rating ?? 0); j++)
                        {
                            <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>
                        }

                    </div>
                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">@(item.Reviews.Count())</span>
                </div>
                <div class="my-1.5 flex items-center justify-between">
                    <h5 class="text-md font-semibold tracking-tight text-gray-900 dark:text-white">@item.Category.catName</h5>
                    @if (item.availableQty != null)
                    {
                        <div>
                            <span>Remaining : </span>
                            <span class="text-md font-bold text-gray-200 bg-gray-800 rounded-md p-1 dark:text-white">@((int)item.availableQty)</span>
                        </div>
                    }
                </div>
                <div class="flex items-center justify-between">
                    <span class="text-3xl font-bold text-gray-900 dark:text-white">$@((int)item.amount)</span>
                    @Html.ActionLink("Add To Cart", "AddToCart", "Cart", new { id = item.pid, BuyQty = "1" }, new { @class = "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" })
                </div>
            </div>
        </div>

    }
</div>
    }
    
</div>


